<!-- 
  2024/03/21 n.yasunari 新規作成
-->
<nav class="common_nav w-auto">
  <form method="post">
    <ol>
      <li>
        <button id="home-button"
          type="submit"
          th:formaction="@{./../home/init}"
          class="nav_button flex gap_5 flex_align_center bg_opa mt-2"
        >
          <div id="home" class="bg_white icon_box flex flex_align_center flex_just_center shadow  nav_icon">
            <i class="fa-solid fa-house"></i>
          </div>
          <div>ホーム</div>
        </button>
      </li>
      <li>
        <button id="stamp-history-button"
          type="submit"
          th:formaction="@{./../stamphistory/init}"
          class="nav_button flex gap_5 flex_align_center bg_opa mt-2"
        >
          <div id="stamp-history" class="bg_white icon_box flex flex_align_center flex_just_center shadow  nav_icon">
            <i class="fa-regular fa-clock"></i>
          </div>
          <div>打刻記録確認</div>
        </button>
      </li>
      <li>
        <button id="employee-list-button"
          type="submit"
          th:formaction="@{./../employeelist/init}"
          class="nav_button flex gap_5 flex_align_center bg_opa mt-2"
        >
          <div id="employee-list" class="bg_white icon_box flex flex_align_center flex_just_center shadow nav_icon">
            <i class="fa-solid fa-user-tie"></i>
          </div>
          <div>従業員情報</div>
        </button>
      </li>

      <div li th:if="${adminFlag == '1'}">
        <li>
          <button id="news-manage-button"
            type="submit"
            th:formaction="@{./../newsmanage/init}"
            class="nav_button flex gap_5 flex_align_center bg_opa mt-2"
          >
            <div id="news-manage" class="bg_white icon_box flex flex_align_center flex_just_center shadow nav_icon">
              <i class="fa-solid fa-newspaper"></i>
            </div>
            <div>お知らせ管理</div>
          </button>
        </li>
        <li>
          <button id="employee-manage-button"
            type="submit"
            th:formaction="@{./../employeemanage/init}"
            class="nav_button flex gap_5 flex_align_center bg_opa mt-2"
          >
            <div id="employee-manage" class="bg_white icon_box flex flex_align_center flex_just_center shadow nav_icon">
              <i class="fa-solid fa-people-roof"></i>
            </div>
            <div>従業員情報管理</div>
          </button>
        </li>
        <li>
          <button id="stamp-edit-button"
            type="submit"
            th:formaction="@{./../stampedit/init}"
            class="nav_button flex gap_5 flex_align_center bg_opa mt-2"
          >
            <div id="stamp-edit" class="bg_white icon_box flex flex_align_center flex_just_center shadow nav_icon">
              <i class="fa-solid fa-pencil"></i>
            </div>
            <div>打刻記録編集</div>
          </button>
        </li>
        <li>
          <button id="stamp-output-button"
            type="submit"
            th:formaction="@{./../stampoutput/init}"
            class="nav_button flex gap_5 flex_align_center bg_opa mt-2"
          >
            <div id="stamp-output" class="bg_white icon_box flex flex_align_center flex_just_center shadow nav_icon">
              <i class="fa-solid fa-print"></i>
            </div>
            <div>打刻記録出力</div>
          </button>
        </li>
        <li>
          <button id="stamp-delete-button"
            type="submit"
            th:formaction="@{./../stampdelete/init}"
            class="nav_button flex gap_5 flex_align_center bg_opa mt-2"
          >
            <div id="stamp-delete" class="bg_white icon_box flex flex_align_center flex_just_center shadow nav_icon">
              <i class="fa-solid fa-trash-can"></i>
            </div>
            <div>打刻記録一括削除</div>
          </button>
        </li>
        <li>
          <button id="log-history-button"
            type="submit"
            th:formaction="@{./../loghistory/init}"
            class="nav_button flex gap_5 flex_align_center bg_opa mt-2"
          >
            <div id="log-history" class="bg_white icon_box flex flex_align_center flex_just_center shadow nav_icon">
              <i class="fa-solid fa-clock-rotate-left"></i>
            </div>
            <div>履歴確認</div>
          </button>
        </li>
      </div> 
        <li>
          <button
            type="submit"
            th:formaction="@{./../signin/init}"
            class="nav_button flex gap_5 flex_align_center bg_opa mt-2"
          >
            <div class="bg_white icon_box flex flex_align_center flex_just_center shadow nav_icon">
              <i class="fa-solid fa-right-from-bracket"></i>
            </div>
            <div>サインアウト</div>
          </button>
        </li>
    </ol>
  </form>
</nav>
