<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.teamdev.mapper.EmployeeMapper">
	<!-- データを挿入する -->
	<insert id="save" parameterType="com.example.teamdev.entity.Employee" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT
		INTO employee (
			first_name,
			last_name,
			email,
			password,
			admin_flag,
			update_date
		) VALUES (
			#{first_name},
			#{last_name},
			#{email},
			#{password},
			#{admin_flag},
			#{update_date}
		) RETURNING id
	</insert>
	<!-- データを更新する 2025/4/18 山本追記-->
	<update id="upDate" parameterType="com.example.teamdev.entity.Employee">
		UPDATE 
			employee
		SET
			first_name = #{first_name},
			last_name = #{last_name},
			email = #{email},
			password = #{password},
			admin_flag = #{admin_flag},
			update_date = #{update_date}
		WHERE
			id = #{id}
	</update>

    <!-- ページネーション最適化: カバリングインデックスとパフォーマンス最適化 -->
    <select id="findFilteredEmployees" resultType="com.example.teamdev.entity.Employee">
        SELECT /*+ USE_INDEX(employee, idx_employee_name_search, idx_employee_email_unique) */
               id, first_name, last_name, email, password, admin_flag, update_date
        FROM employee
        <where>
            <if test="searchValue != null and searchValue != ''">
                (first_name LIKE CONCAT(#{searchValue}, '%')
                OR last_name LIKE CONCAT(#{searchValue}, '%')
                OR email LIKE CONCAT(#{searchValue}, '%'))
            </if>
        </where>
        <if test="orderColumn != null and orderColumn != ''">
            ORDER BY ${orderColumn} ${orderDir}
        </if>
        <!-- PostgreSQL互換のページング: LIMIT length OFFSET start -->
        <if test="length != null">
            LIMIT #{length}
        </if>
        <if test="start != null and start > 0">
            OFFSET #{start}
        </if>
    </select>

    <select id="countFilteredEmployees" resultType="long">
        SELECT count(*)
        FROM employee
        <where>
            <if test="searchValue != null and searchValue != ''">
                (first_name LIKE CONCAT(#{searchValue}, '%')
                OR last_name LIKE CONCAT(#{searchValue}, '%')
                OR email LIKE CONCAT(#{searchValue}, '%'))
            </if>
        </where>
    </select>

    <select id="countTotalEmployees" resultType="long">
        SELECT count(*) FROM employee
    </select>

    <!-- バッチ削除用クエリ（N+1問題解決） -->
    <delete id="deleteByIdList" parameterType="list">
        DELETE FROM employee 
        WHERE id IN
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
