<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.teamdev.mapper.NewsMapper">
	<!-- データを挿入する -->
	<insert id="save" parameterType="com.example.teamdev.entity.News">
		INSERT
		INTO news (
			news_date,
			content,
			release_flag,
			update_date
		) VALUES (
			#{news_date},
			#{content},
			#{release_flag},
			#{update_date}
		)
	</insert>
	
	<!-- データを更新する 2025/4/18 山本追記-->
	<update id="upDate" parameterType="com.example.teamdev.entity.News">
		UPDATE
			news
		SET
			content = #{content},
			release_flag = #{release_flag},
			update_date = #{update_date}
		WHERE
			id = #{id}
	</update>
</mapper>