<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.teamdev.mapper.StampDeleteMapper">
    <delete id="deleteStampsByYearMonthRange"
            parameterType="com.example.teamdev.entity.StampDelete"
    >
        DELETE FROM stamp_history
        WHERE stamp_date &gt;= CAST(#{startYear} || '-' || LPAD(#{startMonth}, 2, '0') || '-01' AS DATE)
          AND stamp_date &lt; (CAST(#{endYear} || '-' || LPAD(#{endMonth}, 2, '0') || '-01' AS DATE) + INTERVAL '1 month')
    </delete>
</mapper>
