<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIME MANAGER / ホーム</title>
    <!-- favicon -->
    <link rel="icon" th:href="@{/img/favicon.ico}">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous">
    <!-- fontawesome -->
    <link href="https://use.fontawesome.com/releases/v6.2.0/css/all.css"
          rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
<body>
<!-- 共通ヘッダー -->
<header th:replace="~{common/header}"></header>

<!-- メインコンテンツ -->
<main class="main_content">
    <!-- ナビ選択用の設定値 -->
    <input type="hidden" id="target_nav" value="home"/>
    <!-- 共通ナビ -->
    <nav th:replace="~{common/navigation}"></nav>

    <!-- コンテンツ -->
    <section>
        <div class="flex flex_just_center flex_align_center bg_white stamp_box height_25">
            <div class="flex flex_just_center flex_dir_col flex_align_center bg_dark_info stamp_box_disp">
                <div id="curdate" class="text_white font_size_3"></div>
                <div id="curtime" class="text_white font_size_8"></div>
            </div>
            <div class="stamp_box_btn">
                <form id="home_form" th:action="@{/home/regist}" method="post">
                    <input type="hidden" id="stampTime" name="stampTime"/>
                    <input type="hidden" id="stampType" name="stampType"/>
                    <input type="hidden" id="nightWorkFlag"
                           name="nightWorkFlag"/>
                    <div class="flex flex_just_center gap_10 text_white">
                        <button
                                type="button"
                                id="in_button"
                                class="btn bg_blue_info btn_timestamp btn_shadow font_size_8"
                        >
                            <img th:src="@{/img/job.png}"
                                 style="max-width:80%; height:auto;"></button>
                        <button
                                type="button"
                                id="out_button"
                                class="btn bg_red_info btn_timestamp btn_shadow font_size_8"
                        >
                            <img th:src="@{/img/after.png}"
                                 style="max-width:100%; height:auto;"></button>
                    </div>
                    <div class="form-check form-switch flex flex_align_center padding_tpbtm_1">
                        <input
                                type="checkbox"
                                role="switch"
                                id="switch"
                                class="form-check-input toggle_switch display_block"
                        />
                        <label for="switch"
                               class="form-check-label display_block chk_label night-label">
                            夜勤の退勤（前日の労働時間として集計）
                        </label>
                    </div>
                    <div th:if="${result}" class="alert alert-dismissible fade show"
                         th:classappend="${result.contains('エラー') or result.contains('失敗')} ? 'alert-danger' : 'alert-success'"
                         role="alert">
                        <span th:text="${result}"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="bg_white stamp_box height_15 margin_tp_2">
            <div class="weight_600">
                お知らせ
            </div>
            <table class="table table-striped margin_tp_1">
                <tr th:each="news : ${newsList}">
                    <th class="th_cell" th:text="${news.news_date}"></td>
                    <td th:text="${news.content}"></td>
                </tr>
            </table>
        </div>
    </section>
</main>

<!-- 共通フッター -->
<footer th:replace="~{common/footer}"></footer>
<!-- bootstrap -->
<script crossorigin="anonymous"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- common.js -->
<script th:src="@{/js/common.js}"></script>
<!-- home.js -->
<script th:src="@{/js/home.js}"></script>
</body>
</html>
